<section class="card">
    <div class="card-body">
        <h1>About</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, perferendis vitae? Quam quaerat est, voluptate sapiente ipsam unde eum. Odit aspernatur magni saepe error eum enim laudantium natus, nobis accusamus vero dicta, autem nemo illum itaque odio eaque voluptatum fugit soluta culpa ipsa ex omnis. Repudiandae ullam at illo quasi.</p>
    </div>
</section>